 <nav class="top-nav">
    <div class="nav-wrapper">
        <a href="{{path('admin_default_index')}}" class="page-title"><small>Administration du site </small>{{siteName}}</a>
    </div> 
 </nav>
<div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</div>