{% extends '::admin.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Enregistrer</button></center>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('custom_module_image_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
